# Meta App credentials (from developers.facebook.com)
META_APP_ID=your_app_id_here
META_APP_SECRET=your_app_secret_here

# System User Token (from Business Manager > System Users)
# This token does not expire but can be revoked
META_SYSTEM_USER_TOKEN=your_system_user_token_here
